@import '../../animations.scss';

$main: #fd5e53;
$black: #272343;

.header {
  &--title {
    margin: 25px;
  }

  &--desc {
    margin: 25px 0;
  }

  &--button {
    position: relative;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
    }
  }
}
