@import './functions.scss';
@import './components/Header/header.module.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Fira Sans', sans-serif;
  overflow-x: hidden;
  color: $black;
}

h1 {
  font-weight: 900;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;

  @include flex-center($justify: false);
  flex-direction: column;
}

.desc {
  color: rgba($black, 0.75);
}

.color {
  color: $main;
}

.bold {
  font-weight: 900;
  letter-spacing: 0.25px;
}

.visible {
  display: block;
}

.not-visible {
  display: none;
}
