@import '../Header/header.module.scss';

.button {
  position: relative;
  cursor: pointer;

  outline: none;
  border: none;

  padding: 15px 50px;
  border-radius: 5px;

  color: $main;
  background: transparent;

  font-size: 1em;
  box-shadow: 0 5px 15px rgba($main, 0.25);

  transition: background, color 0.2s ease-in-out;
  overflow: hidden;

  &.rounded {
    width: 50px;
    height: 50px;

    padding: 0;

    border-radius: 50%;

    & > * {
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 20px;
      z-index: 5;
    }
  }

  &::after {
    content: '';
    width: 0;
    height: 100%;
    background: $main;

    position: absolute;
    top: 0;
    right: 0;
    transition-property: left, width;
    transition: 0.25s ease-in-out;
    z-index: 2;
  }

  &:hover {
    color: #fff !important;

    &::after {
      left: 0;
      width: 100%;
    }
  }
}
