@import '../Header/header.module.scss';

.list {
  margin-top: 25px;

  width: 800px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;

  &--title {
    font-size: 1.5em;
    margin: 25px;
  }

  &--empty__message {
    margin: 25px 0;
  }

  &--header {
    display: flex;
    justify-content: space-between;

    margin: 15px 25px;

    color: $main;

    font-weight: 900;
    letter-spacing: 0.25px;
  }

  &--item {
    user-select: none;
    cursor: pointer;

    width: 100%;

    overflow: hidden;

    padding: 10px 25px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #f2f2f2;

    &:first-child,
    &:last-child {
      margin: 0;
    }

    &__info {
      width: 100%;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &__date {
      letter-spacing: 0.5px;
      font-weight: 900;
    }

    &__note {
      padding: 10px 35px;

      max-height: auto;
      width: 800px;

      color: rgba($black, 0.75);
      background: #fff;

      text-align: justify;
      line-height: 30px;
    }
  }
}

.hidden {
  background: red;
}

.show {
  background: green;
}
